<!DOCTYPE html>
<html lang="en">
<head>
    <title>Iniciar Sesión</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/public/styles/login.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" rel = "stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <style>
        body {
            background-image: url('./imagenes/humo-azul-abstracto-fondo-negro_36326-3337.png');
            background-size: cover; /* Ajusta la imagen para cubrir el área */
            background-position: center; /* Centra la imagen */
            background-repeat: no-repeat; /* Evita que la imagen se repita */
        }
    </style>
</head>

<body>
<header>
    <H2 class="logo">Logo</H2>
    <nav class="nav">
        <a href="#">Home</a>
        <a href="#">servicios</a>
        <a href="#">sobre nosotros</a>
        <a href="#">contacto</a>
    </nav>
    <button class="sas+" >a</button>
</header>
    <div class="Contenedor">
        <form action="">
    <h1>Login</h1>
  <div class="box"> 
   <input type="text" placeholder="Usuario" required><i class='bx bxs-user'></i></input> 
  </div>
  <div class="box"> 
    <input type="password" placeholder="Contraseña" required><i class='bx bxs-key'></i></input> 
   </div>
   <a class ="boton" href = "Productos.html">Entrar</a>
   <div class="Link-SignUp">
    <p>No tiene una cuenta tio? <a href="SignUp.html">Registrate 
    </a> </p>
   </div>
</form> 
</div>
</body>
</html>




