<!DOCTYPE html>
<html lang="en">
    <title>Perfil</title>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/public/styles/profile.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" rel = "stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Moderustic:wght@300..800&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <link rel="stylesheet" href="/public/styles/header.css">
        <div class = "logo">
          <img src="/assets/logoPlaceholder.png" style="width: 20%;height: 20%;">
        </div>
        <img src="/assets/profilePlaceholder.png" style="width: 2%;height: 2%;">
    </header>

    <div class="sidenav">
        <a href="/logout">Sign Out</a>
    </div>

    <div class="main">
        <div class="Container">
            <h1>Carrito de compras</h1>
            <div class="carrito">
                <div class="item">
                    <div class="buttons">
                      <span class="delete-btn"></span>
                      <span class="like-btn"></span>
                    </div>
                 
                    <div class="image">
                      <img src="item-1.png" alt="" />
                    </div>
                 
                    <div class="description">
                      <span>Common Projects</span>
                      <span>Bball High</span>
                      <span>White</span>
                    </div>
                 
                    <div class="quantity">
                      <button class="plus-btn" type="button" name="button">
                        <img src="plus.svg" alt="" />
                      </button>
                      <input type="text" name="name" value="1">
                      <button class="minus-btn" type="button" name="button">
                        <img src="minus.svg" alt="" />
                      </button>
                    </div>
                 
                    <div class="total-price">$549</div>
                  </div>
            </div>
        </div>
    </div>

</body>
</html>




