<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Olympus Tienda</title>
          <link rel="stylesheet" href="/public/styles/signup.css">
          <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
          <link href="https://fonts.googleapis.com/css2?family=Moderustic:wght@300..800&display=swap" rel="stylesheet">
</head>

<body>

  <header>
    <link rel="stylesheet" href="/public/styles/header.css">
    <div class = "logo">
      <img src="/assets/logoPlaceholder.png" style="width: 20%;height: 20%;">
    </div>
    <img src="/assets/profilePlaceholder.png" style="width: 2%;height: 2%;">
  </header>
    
  <div class="Contenedor">
    <form action="/userRegister" method="POST">
      <label for="name">Nombre de Usuario:</label>
      <div class="box"> 
        <input type="text" name="user" required></input> 
      </div>
      <label for="email">Correo electrónico:</label>
      <div class="box"> 
       <input type="text" name="email" required></input> 
      </div>
      <label for="password">Contraseña:</label>
      <div class="box"> 
        <input type="text" name="pass" required></input> 
      </div>
      <label for="repeatPass">Repetir Contraseña:</label>
      <div class="box"> 
        <input type="text" required></input> 
      </div>
        <input class="boton" type="submit" value="Registrarse">
        <div class="Link-Login">
          <p>¿Ya tenes una cuenta creada? <a href="login.html">Ingresa acá 
       </a> </p>
    </form> 
  </div>
</body>
</html>