<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Olympus Tienda</title>
          <link rel="stylesheet" href="/../../public/styles/signup.css">
          <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
          <link href="https://fonts.googleapis.com/css2?family=Moderustic:wght@300..800&display=swap" rel="stylesheet">
          <style>
            body {
              background-image: url('./imagenes/humo-azul-abstracto-fondo-negro_36326-3337.png');
              background-size: cover; /* Ajusta la imagen para cubrir el área */
              background-position: center; /* Centra la imagen */
              background-repeat: no-repeat; /* Evita que la imagen se repita */
            }
          </style>
</head>

<body>

  <header>
    <H2 class="logo"></H2>
    <nav class="nav">
        <a href="#">home</a>
        <a href="#">servicios</a>
        <a href="#">sobre nosotros</a>
        <a href="#">contacto</a>
    </nav>
    <button class="sas+" >a</button>
  </header>
    
  <div class="Contenedor">
    <form action="">
      <label for="name">Nombre de Usuario:</label>
      <div class="box"> 
        <input type="text" required></input> 
      </div>
      <label for="email">Correo electrónico:</label>
      <div class="box"> 
       <input type="text" required></input> 
      </div>
      <label for="password">Contraseña:</label>
      <div class="box"> 
        <input type="text" required></input> 
      </div>
      <label for="repeatPass">Repetir Contraseña:</label>
      <div class="box"> 
        <input type="text" required></input> 
      </div>
        <button class ="boton" href = "Login.html">Registrarse</button>
      
       
    </form> 
  </div>
</body>
</html>




