.box{
    color: white;
    text-align: center;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  background-color: aquamarine;
}
.Contenedor{
     width: 420px;
     text-align: center;
     background-color:rgb(6, 108, 175);
     padding: 30px 40px;
     border-radius: 10px;
}
.Contenedor h1 {
    font-size: 36px;
    text-align: center;
    padding: 5px;
    color: white;
}
.Contenedor p {
    color: white;
}
.Link-SignUp {
    text-align: center;
}
.Contenedor .boton {
    background-color: rgb(23, 145, 145);
    margin: 25px auto; 
    padding: 5px;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block; 
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

header{
  position: fixed;
  top:0;
  left:0;
  width:100%;
  padding: 20px 100px;
background-color: rgb(8, 60, 119);
display: flex;
justify-content: space-between;
align-items: center;
}





